name: Docker Image CI

'on':
  push:
    branches: 
      - 'main'
  schedule:
    - cron: '0 0 * * 0'
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

      
    - uses: elgohr/Publish-Docker-Github-Action@v4
      env:
        GIT_COMMIT: $(git rev-parse HEAD)
      with:
        name: jfcal/supersetvc
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        cache: ${{ github.event_name != 'schedule' }}
#        snapshot: true
        tags: "latest-dev"
        workdir: .
 #       buildargs: GIT_COMMIT
